<div class="card controls-div">
  <a id="play-button" class="btn btn-default btn-raised btn-material-light-green run-button"><i class="mdi-content-forward"></i></a>
  <a id="stop-button" class="btn btn-default btn-raised btn-material-red run-button disabled"><i class="mdi-content-clear "></i></a>
  <a id="man-button" class="btn btn-default btn-raised  btn-material-light-blue run-button "><i class="mdi-action-help "></i></a>
  <a id="done-button" class="btn btn-default btn-raised  btn-material-blue-grey run-button ">I'M DONE!</a>
  <a id="noteoff-button" class="btn btn-default btn-raised  btn-material-amber run-button ">FIX NOTE OFF</a>
  <a id="demo-string-button" class="btn btn-default btn-raised  btn-material-green run-button ">NEXT</a>
<!--         <a onClick="openTab(this)" href="#" name="assets/gm_experimental_proceedure.pdf" class="btn btn-default btn-raised  btn-material-light-blue run-button "><i class="mdi-action-help "></i></a> -->
</div>